<h2 class="alt">Listing articles</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th>Categories</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
    <td><%= article.author.full_name if article.author %></td>
    <td>
      <%= render partial: "category_display", locals: { categories: article.categories } %>
     </td>
    <td><%= link_to 'Show', article, class: "button" %></td>
    <td><%= link_to 'Edit', edit_article_path(article), class: "button" %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete, class: "button" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path, class: "button" %>
