<p id="notice"><%= notice %></p>

<div>
  <b>Title:</b>
  <%= @article.title %>
</div>

<div>
  <b>Body:</b>
  <%= @article.body %>
</div>

<div>
  <b>Author:</b>
  <%= @article.author.full_name %>
</div>
<div>
 <b>Categories:</b>
 <%= render partial: "category_display", locals: { categories: @article.categories } %>
     </div>


<%= link_to 'Edit', edit_article_path(@article), class: "button" %> 
<%= link_to 'Back', articles_path, class: "button" %>
