<!DOCTYPE html>
<html>
<head>
  <title>Summit2012Kt</title>
  <%= stylesheet_link_tag    "blueprint/screen", media: "screen, projection" %>
  <%= stylesheet_link_tag    "blueprint/print", media: "print" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag    "blueprint/ie", media: "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container ">
  <h1> Test App to build summit exercises </h1>
  <hr/>
  <div class="span-14 colborder"  >
    <%= yield %>
  </div>
  <div class="span-8 last box"> 
    <h2 class="alt">Categories</h2> 
    <%= render @categories  %></div>
  <div class="span-24 bottom last" > footer </div>
</div>
</body>
</html>
